.containerHome {
    background-image: url("../../img/landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.homeSettingsContainer {
    display: flex;
    justify-content: center;
    margin: 0px 10px;
}

.homeSettings {
    width: 700px;
    background-color: rgba(34,34,34, 0.9);
    border-radius: 20px;
    padding: 20px 0px
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px 10px 9px;
    background-color: rgba(34,34,34, 0.7);
    border-radius: 20px;
}

.containerReloadResetSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .containerHome {
        background-image: url("../../img/landing-mario.jpg");
    }
}