.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0px
}

.containerReloadSearch {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}