.containerFormSearch {
    display: flex;
    justify-content:center;
    margin-left: 58px;
}

.containerInputSearch {
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    width: 200px
}

.inputSearch {
    margin: 0px 5px;
    border: none;
}

.inputSearch:focus {
    outline: none;
}

.eraseinputSearch {
    align-self: flex-end;
    border: none;
    background: none;
    color: gray;
    cursor: pointer;
}

.search {
    margin: 0px 5px
}