.containerNotFound {
    display: flex;
    justify-content: center;
}

.imgSearchNotFound {
    width: 576px;
    height: 324px;
    margin-top: 50px;
    border-radius: 20px;
}

.imgFilterNotFound {
    width: 576px;
    height: 324px;
    margin-top: 50px;
    border-radius: 20px;
}