.containerFil {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.filtersDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px;
}

.filtersSelect {
    height: 25px;
    border: none;
    border-radius: 20px;
    text-align: center;
    box-shadow: inset 0 5px 10px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.5);
    text-transform: uppercase;
    font-weight: 700;
}

.filtersSelect:focus {
    outline: none;
}

.filtersSelectActive {
    background: #ff2562;
    color: #fff;
}