.nav {
    display: flex;
    justify-content: space-between;
    border-left: 5px solid #ff2562;
    border-right: 5px solid #ff2562;
    padding: 10px 20px 10px 20px;
    margin: 0px 10px 25px 10px;
}

.nav li {
    list-style: none;
}

.navLinks {
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
}

.navLinks.active,
.navLinks:hover {
    color: #ff2562;
}

.containerHomeCreate {
    display: flex;
}

.exitLink {
    margin-right: 0px;
}

@media screen and (max-width: 315px) {
    .nav {
        flex-direction: column;
        border-right: none;
    }
    .containerHomeCreate {
        flex-direction: column;
    }
}